<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <!--Incio de la barra de navegación-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #990066;">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/principal}">                  
            
            Inicio</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                th:href="@{/vendedor}"
                class="nav-link active"
                aria-current="page"                
                >Gestión de usuario</a
              >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Final de la barra de navegación-->
      <!--Inicio de mi formulario-->
      <div class="container mt-4">
        <div class="row">
          <div class="card text-center">
            <div class="card-body">
              <h1 class="card-title" style="color: #990066;">Crear nuevo producto</h1>
  
              <!--Inicio del formulario-->
              <form th:action="@{/vendedor}" th:object="${vendedor}" method="POST"  enctype="multipart/form-data">
                <div class="mb-3">
                  <div class="form-group">
                    <label>Nombre del producto</label>
                    <input
                      type="text"
                      name="name"
                      th:field="*{name}"
                      class="form-control"
                      placeholder="Ingrese el nombre del producto"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Precio del producto</label>
                    <input
                      type="text"
                      name="precio"
                      th:field="*{precio}"
                      class="form-control"
                      placeholder="Ingrese el precio sin puntos ni comas"
                      required
                    />                   
                  </div>
                  <div class="form-group">
                    <label>Correo electrónico</label>
                    <input
                      type="text"-
                      name="email"
                      th:field="*{email}"
                      class="form-control"
                      placeholder="Ingrese el correo electrónico"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Teléfono</label>
                    <input
                      type="tel"
                      name="telefono"
                      th:field="*{telefono}"
                      class="form-control"
                      placeholder="Número de teléfono"
                      required
                    />
                  </div>  
                  <div class="form-group">
                    <label>Tiempo de uso del producto</label>
                    <input
                      type="text"-
                      name="uso"
                      th:field="*{uso}"
                      class="form-control"
                      placeholder="Ingrese tiempo de uso del producto"
                      />
                      <div class="form-group">
                        <label>Descripción del producto</label>
                        <textarea
                          type="text"-
                          name="coments"
                          th:field="*{coments}"
                          class="form-control"
                          rows="5"
                          placeholder="Ingrese descripción del producto"
                          required
                        > </textarea>
                  </div> 
                  <div class="form group">
                    <label>Adjuntar imagenes:</label>
                    <input type="file"
                    name="image"
                    accept="image/png, image/jpeg, image/jpg"
                    required>
                  </div>                 
                  <div class="box-footer mt-4">
                    <button type="submit" class="btn btn-warning">Enviar</button>
                  </div>
                </div>
              </form>
  
              <!--Fin del formulario-->
            </div>
          </div>
        </div>
      </div>
      <!--Final de mi formulario-->
      <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <p class="navbar-text">@ReusaCol tienda de garage virtual</p>
        </div>
      </div> 
    </body>
  </html>
  